.nav-tabs {
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	-webkit-padding-start: 0px;
	padding: 5px 0px;
	margin-top: 0;
	margin-bottom: 0;
	background: #ffffff;
}

.nav-tabs li:hover {
	cursor:pointer;
}

.nav-tabs li{
	list-style-type: none;
	display: inline;
	padding: 7px 5px;
}

.nav-tabs a{
	font-size: 20px;
	padding: 5px;
	color: #000000;
	text-decoration: none;
}

.content {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:100%
	border: thin solid black;
}

