

<!--div id="cf" class="shadow">
	<iframe id="frontContentMedia" [src]="curPicture"></iframe>
</div-->

<div id="front">
	<img *ngIf="firstImage != undefined" id="firstImage" src="{{firstImage.changingThisBreaksApplicationSecurity}}">

	<video id="vid1" class="video-js vjs-default-skin"
	width="auto">
	</video>
</div>

<div id="buttons">
		<label *ngFor="let image of images; let i=index" class="radio-inline">
			<input type="radio" name="optradio" checked="checked"
			(change)="transition(i)"
			[checked] = "curIndex === i">
		</label>
</div>



