<tabs id="main-tabs">
	<!--TODO pass in a model instead of properties-->


	<tab *ngFor="#file of files"
	active="{{file.active}}"
   	tabTitle="{{file.title}}"
	content="{{file.content}}">
	</tab>

	<tab tabTitle="Videos"> 
			<select (change)="getQuestion($event.target.value)" >
				<option selected> Questions </option>
				<option *ngFor="#question of videoData" [value]="question.questionID">{{question.text}}</option>
			</select>

			
			<div *ngIf="selectedQuestion?.length > 0">
			<video id="qvideo" class="video-js vjs-default-skin" controls
			 preload="auto" width="640" height="264"
			 data-setup='{}'>

			  <source [src]="selectedQuestion[0].path" type="video/mp4">

			</video>
			</div>

			<div *ngIf="answervideoData?.length > 0">
				<div *ngFor="#answer of answervideoData; #j=index">
				<video id="avideo" class="video-js vjs-default-skin" controls
				 preload="auto" width="640" height="264"
				 data-setup='{}'>
				  <source [src]="answer.path" type="video/mp4">

				</video>
				</div>
			</div>

			<div *ngIf="answervideoData?.length < 1 && selectedQuestion?.length >0">

			<video style="margin-top:5px;" id="record1" class="video-js vjs-default-skin" controls
			preload="auto"
			width="640" height="264"
			 data-setup='{
			}'
			 >
			</video>

			<ready [index]="1"></ready>
			<div *ngIf="getCanSave('1')" style="margin-top:5px; width:300px; text-align:center">
				<button (click)="saveVideoAnswer(1, selectedQuestion[0].path, selectedQuestion[0].isPublic, selectedQuestion[0].questionID)" class="btn btn-md btn-primary">
					<i class="fa fa-save"></i>
				</button>
			</div>
		</div>


			<!--
			<div *ngFor="#data of videoData; #i=index" style="margin-bottom:30px;">
			<video id="{{'video'+i}}" class="video-js vjs-default-skin" controls
			 preload="auto" width="640" height="264"
			 data-setup='{}'>

			  <source [src]="data.path" type="video/mp4">

			</video>


			<a (click)="getAnswers(data.questionID)"> Answer</a>
			<div *ngIf="answervideoData?.length > 0">
				<div *ngFor="#answer of answervideoData; #j=index">
				<div *ngIf="answer.questionID === data.questionID">
				<video id="{{'video'+j + 10}}" class="video-js vjs-default-skin" controls
				 preload="auto" width="640" height="264"
				 data-setup='{}'>
				  <source [src]="answer.path" type="video/mp4">

				</video>
				</div>
				</div>


			</div>


			<video style="margin-top:5px;" id="{{'record'+i}}" class="video-js vjs-default-skin" controls
			preload="auto"
			width="640" height="264"
			 data-setup='{
			}'
			 >
			</video>


			<ready [index]="i"></ready>
			<div *ngIf="getCanSave(i)" style="margin-top:5px; width:300px; text-align:center">
				<button (click)="saveVideoAnswer(i, data.path, data.isPublic, data.questionID)" class="btn btn-md btn-primary">
					<i class="fa fa-save"></i>
				</button>
			</div>
		</div>
		-->

	</tab>

	<!-- idk why this has to be here to work, will fix in future -->
	<!--tab>
	</tab-->
	<!--uncomment above tab if you don't have an extra tab other than the ones in *ngFor-->

</tabs>
