#front-main{
	background: white;
	border-style:solid;
	border-width: thin;
	border-top: 0px;
	border-bottom: 0px;
	border-color:#DCDCDC;
	width:990px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 0px;
	height:100%;
	padding-top: 10px;
}

#tab-content-container{
	width:990px;
	margin-left:auto;
	margin-right: auto;
}

#voiland{
	font-weight: bold;
	font-size: 10px;
	color:#203639;
	margin-left: 680px;
}

#fc-title{
	margin-top: 7px;
	margin-left: 280px;
	margin-bottom:20px;
	padding-left:30px;
	width: 680px;
	background: #203639;
	padding-top:3px;
	padding-bottom: 3px;

}

#fc-title a{
	color: white;
	font-size: 30px;
	font-weight: lighter;
}

#navbar{
	top: 0;
	position:fixed;
	width: 200px;
	height: 400px;
	border-style:solid;
	border-width: thin;
	margin-top: 30px;
}

#cd{
	margin-top: 20px;
	background: #203639;
	padding-left:10px;
	padding-top:4px;
	padding-bottom: 4px;
	width: 370px;
}

#cd a{
	font-size: 26px;
	padding: 5px;
	color: white;
	padding: 10px;
}
