#front-main{
	background: white;
	border-style:solid;
	border-width: thin;
	border-top: 0px;
	border-bottom: 0px;
	border-color:#DCDCDC;
	width:990px;
	margin-left:auto;
	margin-right: 18.6%;
	margin-top: 0px;
	height:100%;
	padding-top: 10px;
}

#voiland{
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Unicode', 'sans-serif';
	letter-spacing: 2px;
	font-size: 10px;
	color:#203639;
	margin-left: 570px;
}

#fc-title{
	margin-top: 7px;
	margin-left: 140px;
	margin-bottom:20px;
	padding-left:30px;
	width: 820px;
	background: #203639;
	padding-top:3px;
	padding-bottom: 3px;

	font-weight: 300;
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Unicode', 'sans-serif';
	letter-spacing: 2px;
	font-size 28px;
	zoom: 1;

}

#fc-title a{
	color: white;
	font-size: 30px;
	font-weight: lighter;
}

#navbar{
	top: 0;
	position:fixed;
	width: 29.22%;
	height: 900px;
	background-color: white;
}

#cd{
	margin-top: 20px;
	background: #203639;
	padding-left:10px;
	padding-top:4px;
	padding-bottom: 4px;
	width: 400px;
}

#cd a{
	font-size: 26px;
	padding: 5px;
	color: white;
	padding: 10px;
	letter-spacing: 2px;
}

