#buttons{
	/*margin-top:40px;*/
	/*margin-left:auto;
	margin-right:auto;
	width:100px;*/
	padding-left:420px;
}

#cf {
	position relative;
	width:990px;
	height:400px;
	margin-bottom: 10px;
}

#cf img {
	position:absolute;
	width:990px;
	height: 400px;	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

