<tabs id="main-tabs">
	<!--TODO pass in a model instead of properties-->


	<tab *ngFor="#file of files"
	active="{{file.active}}"
   	tabTitle="{{file.title}}" 
	content="{{file.content}}">
	</tab>

	<tab tabTitle="Videos"> 	<div *ngFor="#data of videoData; #i=index" style="margin-bottom:30px;">
			<video id="{{'video'+i}}" class="video-js vjs-default-skin" controls
			 preload="auto" width="640" height="264"
			 data-setup='{}'>

			  <source [src]="data.path" type="video/mp4">

			</video>

			<video style="margin-top:5px;" id="{{'record'+i}}" class="video-js vjs-default-skin" controls
			preload="auto"	  
			width="640" height="264"
			 data-setup='{
			}'
			 >
			</video>

			<ready [index]="i"></ready>
			<div *ngIf="getCanSave(i)" style="margin-top:5px; width:300px; text-align:center">
				<button (click)="saveVideoAnswer(i, data.path, data.isPublic, data.questionID)" class="btn btn-md btn-primary">
					<i class="fa fa-save">
					</i>
				</button>
			</div>

		</div>

	</tab>

	<!-- idk why this has to be here to work, will fix in future -->
	<!--tab>	
	</tab-->
	<!--uncomment above tab if you don't have an extra tab other than the ones in *ngFor-->

</tabs>
