<div class="fluid folio mac-1188">

	<span id="button" class="fa fa-bars" (click)="changeViewable()"></span>

	<a id="top-bar" href="http://wsu.edu">
		<img src="app/images/wsu-horizontal.svg">
	</a>

	<div *ngIf="viewable" id="hiddenbar">
		<div id="hiddenbuf">
		</div>
		<hiddenbar ></hiddenbar>
	</div>

	<div>
		<div>
			<div id="navbar">
				<navbar></navbar>
			</div>
		</div>
		<div>
			<div id="front-main">
				<div id="voiland">
					<a> VOILAND COLLEGE OF ENGINEERING AND ARCHITECTURE </a>
				</div>

				<div id="fc-title">
					<a>Professional Practice and Experiential Learning</a>
				</div>

				<div id="iframs">
					<front-content> </front-content>
				</div>

				<div id="welcomeDiv">
					Welcome!
					<div id="welcomeText">
						This will be the welcome text that we want the user to see. 
					</div>
				</div>

				<div id="tab-content-container">
					<tab-content></tab-content>
				</div>
				
			</div>
		</div>
	</div>
</div>


