@import 'normalize.css';

div{
	display: flex;
}

#front-main{
	background: white;
	border-style:solid;
	border-width: thin;
	border-color:#DCDCDC;
	padding-top: 10px;
  	display: block;
  	width: 100%;
  	margin-left: 19%;
}

#tab-content-container{
	width:100%;
	height: auto;
	margin-top: 25px;
}

#extra {
	position: fixed;
}

#voiland{
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Unicode', 'sans-serif';
	letter-spacing: 2px;
	font-size: 10px;
	color:#203639;
	width: 100%;
	float:right;
	text-align: right;
}

#voiland a {
	width: 100%;
}

#fc-title{
	margin-top: 7px;
	margin-bottom:10px;
	background: #203639;

	font-weight: 300;
	font-family: 'Open Sans', 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'sans-serif';
	letter-spacing: 2px;
	font-size 28px;
	zoom: 1;
	float: right;
}

#fc-title a{
	padding-top: 7px;
	padding-bottom: 7px;
	color: white;
	font-size: 25px;
	font-weight: lighter;
	text-align: right;
	width: 100%;
	padding-left: 20px;
}

#iframs {
	display: inline-block;
	width: 100%;
}

#vid {
	padding-top: 25px;
}

#navbar{
	top: 0;
	height: 100%;
	position: fixed;
	display: inline;
	overflow: scroll;
}

#hiddenbar {
	top: 50px;
	height: 1000px;
	position: fixed;
	display: none;
	z-index: 100;
	width: 200px;
}

#cd{
	margin-top: 20px;
	background: #203639;
	padding-left:10px;
	padding-top:4px;
	padding-bottom: 4px;
	width: 370px;

}

#cd a{
	font-size: 26px;
	padding: 5px;
	color: white;
	padding: 10px;
	letter-spacing: 2px;
}

#button {
	position: fixed;
	color: #b5babe;
	font-size: 20px;
	transform: scale(1.15,1);
	display: none;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
    z-index: 150;
}

#top-bar {
	background-color: white;
	margin-left: 0%;
	display: none;
	height: 50px;
	width: 1000px;
	position: fixed;
}

#hiddenbuf {
	display: block;
	z-index: 50;
	height: 50;
}

img {
	position: fixed;
	left: 50%;
	margin-left: -160px;
	padding-top: 15px;
}

.col-sm-4{
	width: 19%;
	height: 100%;
	display: table;
}

.col-sm-8{
}

.fluid.folio{
	height: 3250px;
	max-width: 1188px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.row {
	width: 100%;
}

@media screen and (max-width: 990px){
	div{
		display: block;
	}
	#navbar{
		display: none;
	}
	.col-sm-4 {
		display: none;
	}

	#hiddenbar{
		display: inline;
	}

	#front-main{
		padding-top: 50px;
		margin-left: 0px;
	}

	#button {
		display: inline-block;
	}


	#top-bar {
		display: block;
	}
}
