#main-tabs {
	width: 100%;
}

.tabs {
	width: 100%;
}

#qvideo {
	width: 65%;
	
}

#qvideoDiv{
	display: inline;
}

#rvideoDiv{
	display: inline;
}

#rvideo {
	width: 34%;
	margin-left: 66%;
	bottom: 284px;
	border: .4em solid #e22323;
}

#unsavedVideoDiv {
    margin-top: 1%;	
}

#questionTextBox {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid  #DCDCDC;
}

#text {
	padding-left: 3em;
}

#saveQuestion {
	margin-top: 2%;
	font-size: 150%;
}