#main-tabs {
	width: 100%;
}

.tabs {
	width: 100%;
}

#qvideo {
	width: 65%;
}

#qvideoDiv{
	display: inline;
}

#rvideoDiv{
	display: inline;
}

#rvideo {
	width: 34%;
	margin-left: 66%;
	bottom: 284px;
	border: .4em solid #e22323;
}

#unsavedVideoDiv {
    margin-top: 2%;	
	font-size: 2em;
	color: black;

}

#avideoDiv {
	font-size: 2em;
	color: black;
}

#questionTextBox {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid  #DCDCDC;
	width: 800px;
}

#text {
	padding-left: 3em;
}

#loginHeading{
	padding-bottom: 18px;
    text-transform: none;
    font-size: 24px;
    letter-spacing: normal;
    font-weight: 400;
    color: #2a2a2a;
}

#loginBtn {
	background-color: #961f34;
    font-size: 200%;
	color: #FFF;
	border: 0;
	font-weight: lighter;
	padding: 2%;
	padding-right: 4%;
	padding-left: 4%;
	margin-left: 75%;
}

#loginBtn:hover {
	background-color: #c60c30;
}

#loginOutBtn{
	background-color: #961f34;
    font-size: 200%;
	color: #FFF;
	border: 0;
	font-weight: lighter;
	padding: 2%;
	padding-right: 4%;
	padding-left: 4%;
	margin-left: 75%;
}

#saveNewEdit {
	font-size: 200%;
    background-color: #003100;
    color: white;
	margin-top: 3%;
}

#deleteEdit {
	font-size: 200%;
    background-color: #9c0202;
    color: white;
	margin-top: 3%;
}

#saveQuestion {
	margin-top: 2%;
	font-size: 150%;
}

@media screen and (max-width: 990px){
	#questionTextBox {
		width: 100%;
	}
}