

<tabs id="main-tabs" (click)="stopAutoTrans()">

	<tab tabTitle="CougLink" enableEditor="false">
    	<a href="https://wsu-csm.symplicity.com/students/" target="_blank">
    		<img src="app/images/cougLinkImage.jpg" /> 
    	</a>
	</tab>


	<tab *ngFor="let file of files"
		active="{{file.active}}"
   		tabTitle="{{file.title}}"
		content="{{file.content}}">
	</tab>


	<tab tabTitle="Videos"
		enableEditor="false"> 
	
		<div *ngIf="userModel">
			<select
				(change)="setSelectedQuestion($event.target.value)"
				(change)="setQuestionAndAnswer($event.target.value)">
				<option selected *ngIf="allQuestionVideos?.length == 0">No Questions Available</option>
				<option *ngFor="let question of allQuestionVideos" [value]="question._id">{{question.title}}</option>
			</select>

				<div id="questionTextBox" *ngIf="questionText != undefined">
					<header>Question Text:</header>
					<div id="text"> {{questionText}} </div>
				</div>

				<tabs id="videoTabs" 
					(click)="GetIsUnsaved()">

					<tab tabTitle="Questions"
						active="true"
						enableEditor="false">

						<div id="qvideoDiv">
							<video id="qvideo" class="video-js vjs-default-skin" controls
								preload="auto" width="550" height="284">						
							</video>
							<video id="rvideo" class="video-js vjs-default-skin" controls 
								preload="auto" width="298" height="150">
							</video>
						</div>
					</tab>

					<tab tabTitle="Answers"
						enableEditor="false">

						<div id="avideoDiv">
							<div id="aLabel" *ngIf="answerVideo != undefined">
								Saved Video
							</div>
							<video id="avideo" class="video-js vjs-default-skin vjs-hidden" controls
								preload="auto" width="550" height="284">
							</video>
						</div>

						<div id="unsavedVideoDiv">
							<div id="unsavedLabel" *ngIf="unSavedVideo != undefined">
								Not Saved Video
							</div>
							<video id="unsavedVideo" class="video-js vjs-default-skin vjs-hidden" controls
								preload="auto" width="550" height="284">
							</video>
						</div>

						<button (click)="SaveModal.open()" id="saveQuestion" class="btn btn-lg btn-primary"
							*ngIf="unSavedVideo != undefined">
							<i class="fa fa-save"> Save</i>
						</button>
							
						<modal #SaveModal title="Are You Sure?"
							cancelButtonLabel="Cancel"
							submitButtonLabel="Save"
							modalClass="btn btn-info btn-lg"
							[hideCloseButton]="true"
							[closeOnEscape]="false"
							[closeOnOutsideClick]="true"
							(onSubmit)="SaveModal.close()"
							(onSubmit)="saveVideoAnswer()">
					
							<modal-header>
								This will overwrite your previously saved video!
							</modal-header>
						
							<modal-content>
								By clicking 'Save', you will replace your previously saved video with this new one, this action cannot
								be undone. 
							</modal-content>
						</modal>

						<button (click)="DeleteModal.open()" id="saveQuestion" class="btn btn-lg btn-primary"
							*ngIf="answerVideo != undefined">
							<i class="fa fa-trash-o"> Delete</i>
						</button>

						<modal #DeleteModal title="Are You Sure?"
							cancelButtonLabel="Cancel"
							submitButtonLabel="Delete"
							modalClass="btn btn-info btn-lg"
							[hideCloseButton]="true"
							[closeOnEscape]="true"
							[closeOnOutsideClick]="true"
							(onSubmit)="DeleteModal.close()"
							(onSubmit)="deleteVideoAnswer()">
					
							<modal-header>
								This will permanently delete your saved video!
							</modal-header>
						
							<modal-content>
								By clicking 'Delete', you will permanently remove your saved video, this action cannot
								be undone. 
							</modal-content>
						</modal>
					</tab>
				</tabs>	
		</div>

		<div *ngIf="userModel == undefined">
			<h1> You are currently not logged in.</h1>
			<button (click)="setUserModel()"> Click Here to login as normal user</button>
			<!--button (click)="setAdminModel()"> Click Here to login as admin </button-->

			<!--a href="https://secure.wsu.edu/login/fidlogin.aspx?dest=https://debianvm.eecs.wsu.edu">Click here to login.</a-->
		</div>
		

		<div *ngIf="userModel">
			<h1> You are signed in as {{userModel.id}} </h1>
			<a (click)=logout()>Click here to logout</a>			
		</div>
	</tab>
</tabs>