<div id="navbar-component">

	<img id="wsulogo" src="app/images/wsu.svg">


	<ul id="ul1">
		<li id="first">
			<a><i id="search" class="fa fa-search"></i></a>
			<a><i id="envelope" class="fa fa-envelope-o" ></i></a>
			<a><i id="share" class="fa fa-share-alt" ></i></a>
		</li>

	</ul>

	<ul id="ul2">

		<li>
			<a [href]="homePath">
				<i  id="home" class="fa fa-home"></i>Home
			</a>

		</li>

		<li *ngFor="#item of itemList; #i=index">
			<a (mouseover)="hoverOn(item)" (mouseleave)="hoverOff(item)" [href]="checkForHref(item)">
				{{item.header}}
				<i style="font-size:18px; float:right;" class="fa fa-angle-down" *ngIf="item.isHover" ></i>
			</a>

		</li>

	</ul>

	<ul id="ghost-list">
		<li *ngFor="#item of ghostList">
			<a [href]="item.href">{{item.header}}</a>
		</li>

	</ul>

	<ul id="circle-list">

		<li>
			<a class="facebook" [href]="socialHref.facebook">
				<span class="fa-stack">
				  <i class="fa fa-circle-thin fa-stack-2x"></i>
				  <i class="fa fa-facebook fa-stack-1x"></i>
				</span>
			</a>

			<a class="twitter" [href]="socialHref.twitter">
				<span class="fa-stack" >
				  <i class="fa fa-circle-thin fa-stack-2x"></i>
				  <i class="fa fa-twitter fa-stack-1x"></i>
				</span>
			</a>

			<a class="linkedin" [href]="socialHref.linkedin">
				<span class="fa-stack">
				  <i class="fa fa-circle-thin fa-stack-2x"></i>
				  <i class="fa fa-linkedin fa-stack-1x"></i>
				</span>
			</a>

			<a class="youtube" [href]="socialHref.youtube">
				<span class="fa-stack">
				  <i class="fa fa-circle-thin fa-stack-2x"></i>
				  <i class="fa fa-youtube fa-stack-1x"></i>
				</span>
			</a>

		</li>
	</ul>

	<ul id="access-list">
		<li>
			<a *ngFor="#item of accessList" [href]=item.href>{{item.header}}</a>
			<a [href]="captionPath" style="padding: 0">
				<span class="fa-stack">
				  <i class="fa fa-circle-thin fa-stack-2x" style="margin-top: 1.5px;
						  font-size: 11px;"></i>
				  <i class="fa fa-stack-1x caption" style="margin-top: -1px">c</i>
				</span>
			</a>
		</li>

	</ul>

</div>